.bundle/
pkg/
/vendor/bundle
.env

# Ignore all logfiles and tempfiles.
log/*.log
/tmp

# ignore dummy app's database
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-journal
spec/dummy/log/*.log
spec/dummy/tmp/
spec/dummy/.sass-cache
.idea/

Gemfile.lock
spec/lib/monsoon_openstack_auth/authorization/xcontroller_auth_spec.rb
spec/dummy/.env
.DS_Store
