<%= content_for :title do%>
  Project <%= @project.name %>
<%end%>

<%= link_to 'Back to organization', organization_path(@region,@organization_id) %>

<div class="project" style="padding: 15px">
Deleted
</div>
