<%= content_for :title do%>
  Dashboard
<%end%>

<%if logged_in?%>
<p><%= link_to 'Organizations', organizations_path(@region) %></p>
<!--<p><%= link_to 'Groups', organizations_path(@region) %></p>-->

<%end%>