<%= content_for :title do%>
  Welcome
<%end%>

<div class="regions">
  <h3>Please select a region</h3>
  <%=link_to 'Europe', dashboard_index_path('europe')%> | 
  <%=link_to 'US', dashboard_index_path('us')%>  
</div>