<%= content_for :title do%>
  Welcome
<%end%>

<%if logged_in?%>
<p><%= link_to 'Organizations in Europe', organizations_path('europe') %></p>

<p><%= link_to 'Organizations in US', organizations_path('us') %></p>
<%end%>