<h1>Tests#index</h1>
<p>Find me in app/views/tests/index.html.erb</p>

<% if logged_in?%>
  <h2>Hello <%=current_user.name %></h2>
  <%= link_to 'Logout', monsoon_identity.logout_path %>
  <br/>
  <br/>
<% end %>

<%= link_to 'New', tests_new_path %>
<br/>
<%= link_to 'Back to Welcome', welcome_index_path %>
