<h1>Tests#index</h1>
<p>Find me in app/views/tests/index.html.erb</p>


<%= link_to 'New', tests_new_path %>
<br/>
<%= link_to 'Back to Welcome', welcome_index_path %>


<ul>
  <% current_user.domains.each do |domain| %>
    <li><%=link_to domain["name"],domain["id"]%></li>
  <%end %>
</ul>