<!DOCTYPE html>
<html>
<head>
  <title>MonsoonIdentity</title>
  <%= stylesheet_link_tag    "monsoon_identity/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
